/* Here is your custom css styles. */
@media only screen and (min-width: 993px) {
  #articleContent img {
    zoom: 50%;
    max-width: 80%;
    min-width: 60%;
  }

  .index-cover{
    max-height: 65vh;
  }

  .index-card {
    margin-top: -50px;
  }
}

@font-face{
    font-family: '英文斜体';
    src: url('../font/英文斜体.ttf');
}

.diyfont{
    font-family: '英文斜体';
}